{% extends 'base_user.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet" />
    <link href="{{ asset('styles/find-event-form.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <style>
        .main-container{
            display: flex;
            flex-direction: row;
            padding-top: 5em;

        }
        .found-events{
            width: 80%;
            background-color: white;
            border-radius: 20px;
        }
    </style>
    <div class="main-container">
        {% include ('account/find-event-form.html.twig') %}
        <div class="found-events">
            {% include('account/event/event-list.html.twig') %}
        </div>

    </div>
{% endblock %}
