{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"/>
{% endblock %}
{% block  javascripts%}
    <script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>
    <script>

    </script>
{% endblock %}



{% block body %}
    <h1>Edit your Event</h1>

    <div class="formbold-form-wrapper">
        {{ include('admin/event/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('admin/event/_delete_form.html.twig') }}
    </div>
{% endblock %}
