{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}
{% block  javascripts%}
    <script>
    </script>
{% endblock %}



{% block body %}
    <h1>Edit your Event</h1>

    <div class="formbold-form-wrapper">
        {{ include('admin/event/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('admin/event/_delete_form.html.twig') }}
    </div>
{% endblock %}
