{% extends 'shared/base_admin.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Create new Event</h1>

<div class="formbold-form-wrapper">
    {{ include('admin/event/_form.html.twig') }}
</div>
{% endblock %}
