{% extends '../shared/base_admin.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div>message</div>
    {% endfor %}
<div>
    Hello !
</div>
{% endblock %}
